# General setup
CONFIG_EXPERT=y

## To set CONFIG_ARCH_MMAP_RND_BITS, CONFIG_EXPERT should be y.
## However, when CONFIG_EXPERT to set y, it has side effect.
## Some values is changed so revert this side effect. 
CONFIG_FONTS=n
CONFIG_FONT_8x16=y
CONFIG_FONT_8x8=y
CONFIG_FONT_SUPPORT=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=n
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=n
CONFIG_HID_LOGITECH_HIDPP=n
CONFIG_IPC_NS=y
CONFIG_LOGIG940_FF=n
CONFIG_LOGIRUMBLEPAD2_FF=n
CONFIG_LOGITECH_FF=n
CONFIG_LOGIWHEELS_FF=n
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_HID_A4TECH=y
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CHICONY=y
CONFIG_HID_CYPRESS=y
CONFIG_HID_EZKEY=y
CONFIG_HID_ITE=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
CONFIG_HID_REDRAGON=y
CONFIG_NAMESPACES=y
CONFIG_RFKILL_INPUT=y
CONFIG_VT_HW_CONSOLE_BINDING=y

# GCC Plugins
CONFIG_GCC_PLUGINS=y

# Memory
## SLAB/SLUB allocator
CONFIG_RANDOMIZE_BASE=y
CONFIG_SLAB_FREELIST_RANDOM=y

## mmap
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768
CONFIG_ARCH_MMAP_RND_BITS=32

# Devices
CONFIG_DEVMEM=n
CONFIG_IO_STRICT_DEVMEM=y
CONFIG_DEVPORT=n
CONFIG_ACPI_TABLE_UPGRADE=n

# Network
CONFIG_SYN_COOKIES=y

# Compile time checking
CONFIG_FORTIFY_SOURCE=y

# Runtime checking
CONFIG_HARDENED_USERCOPY=y
CONFIG_HARDENED_USERCOPY_FALLBACK=y

# Misc
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_DEBUG_CREDENTIALS=y
CONFIG_PROC_PAGE_MONITOR=n
CONFIG_DEBUG_FS=n
CONFIG_KALLSYMS=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_USER_NS=n
