# Coverage collection.
CONFIG_KCOV=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_KCOV_INSTRUMENT_ALL=y

# Debug info for symbolization.
CONFIG_DEBUG_INFO=y

# Memory bug detector
CONFIG_KASAN=y
CONFIG_KASAN_INLINE=y

# kernel memory leak detector
CONFIG_DEBUG_KMEMLEAK=y

# Add debug interface
CONFIG_DEBUG_FS=y

# syzkaller will use 9p protocol
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
