# lan
CONFIG_USB_LAN78XX=y

# wifi
CONFIG_RFKILL=y

# broadcom
CONFIG_BRCMFMAC=y
CONFIG_RCMFMAC_PROTO_BCDC=y
CONFIG_BRCMFMAC_PROTO_MSGBUF=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_BCMFMAC_USB=y
CONFIG_BRCMFMAC_PCIE=y

CONFIG_CFG80211=y
CONFIG_CFG80211_REQUIRE_SIGNED_REGDB=y
CONFIG_CFG80211_USE_KERNEL_REGDB_KEYS=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_CFG80211_CRDA_SUPPORT=y
CONFIG_CFG80211_WEXT=y
