#
# An example for building cmake project
#
# Copyright (c) Cyberturst Japan Co., Ltd. 2025
#
# Authors:
#  Daisuke Yamane <daisuke.yamane@miraclelinux.com>
#
# SPDX-License-Identifier: MIT
#

inherit dpkg

DEBIAN_BUILD_DEPENDS += "cmake"

TEMPLATE_FILES = "debian/rules.tmpl debian/control.tmpl"
TEMPLATE_VARS += "MACHINE DEBIAN_BUILD_DEPENDS DESCRIPTION BOARD_TARGETS RCWDIR RCW_FOLDER RCWQSPI RCWSD RCW_SUFFIX DEPLOYDIR BOOTTYPE CHASISTYPE BLD_OPT PLATFORM EXTRA_OEMAKE COMBINED_FEATURES DISTRO_FEATURES　MAINTAINER DEBIAN_COMPAT"

SRC_URI = "\
    git://github.com/jameskbride/cmake-hello-world.git;protocol=https;branch=master \
    file://debian/ \
    "
SRCREV = "ecc0aa9df71049597a0259841ab74e64579d58be"

DESCRIPTION = "An example for build cmake project"
LICENSE = "MIT"
LIC_FILES_CHKSUM = "file://LICENSE;md5=be316b0d6cb4f744b08c9dc589a13eff"

MAINTAINER = "Daisuke Yamane <daisuke.yamane@miraclelinux.com>"

S = "${WORKDIR}/git"

do_prepare_build() {
    cp -r ${WORKDIR}/debian ${S}/

    deb_add_changelog
}
